GTA.VTS.TestProject/ReckoningCapabilityTest/Service References/TransactionManageService/ReckoningCounter.Entity.AccountManagementAndFindEntity1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.AccountManagementAndFindEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.AccountManagementAndFindEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccountEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountEntity" nillable="true" type="tns:AccountEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountEntity" nillable="true" type="tns:ArrayOfAccountEntity" />
  <xs:complexType name="AccountEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountAAttribution" type="xs:int" />
      <xs:element minOccurs="0" name="AccountType" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyHK" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyRMB" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyUS" type="xs:decimal" />
      <xs:element minOccurs="0" name="RoleNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TraderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraderPassWord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountEntity" nillable="true" type="tns:AccountEntity" />
  <xs:complexType name="ArrayOfTradersAccountCapitalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TradersAccountCapitalInfo" nillable="true" type="tns:TradersAccountCapitalInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTradersAccountCapitalInfo" nillable="true" type="tns:ArrayOfTradersAccountCapitalInfo" />
  <xs:complexType name="TradersAccountCapitalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountType" type="xs:int" />
      <xs:element minOccurs="0" name="AvailableCapital" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyType" type="xs:int" />
      <xs:element minOccurs="0" name="FreezeCapital" type="xs:decimal" />
      <xs:element minOccurs="0" name="InitCapital" type="xs:double" />
      <xs:element minOccurs="0" name="TraderID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradersAccountCapitalInfo" nillable="true" type="tns:TradersAccountCapitalInfo" />
</xs:schema>