GTA.VTS.TestProject/ReckoningCounterTest/Service References/CounterOrderService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CounterOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDoOrder_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IOrderDealRpt_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommonObject" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Contants" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDoOrder_DoStockOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DoStockOrder" />
  </wsdl:message>
  <wsdl:message name="IDoOrder_DoStockOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoStockOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDoOrder_DoMercantileFuturesOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DoMercantileFuturesOrder" />
  </wsdl:message>
  <wsdl:message name="IDoOrder_DoMercantileFuturesOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoMercantileFuturesOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDoOrder_DoStockIndexFuturesOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DoStockIndexFuturesOrder" />
  </wsdl:message>
  <wsdl:message name="IDoOrder_DoStockIndexFuturesOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoStockIndexFuturesOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDoOrder_CancelStockOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelStockOrder" />
  </wsdl:message>
  <wsdl:message name="IDoOrder_CancelStockOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelStockOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDoOrder_CancelMercantileFuturesOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelMercantileFuturesOrder" />
  </wsdl:message>
  <wsdl:message name="IDoOrder_CancelMercantileFuturesOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelMercantileFuturesOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDoOrder_CancelStockIndexFuturesOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelStockIndexFuturesOrder" />
  </wsdl:message>
  <wsdl:message name="IDoOrder_CancelStockIndexFuturesOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelStockIndexFuturesOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_RegisterChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterChannel" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_RegisterChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_UnRegisterChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterChannel" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_UnRegisterChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessStockDealRpt_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessStockDealRpt" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessStockDealRpt_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessStockDealRptResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessMercantileDealRpt_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessMercantileDealRpt" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessMercantileDealRpt_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessMercantileDealRptResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessStockIndexFuturesDealRpt_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessStockIndexFuturesDealRpt" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessStockIndexFuturesDealRpt_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessStockIndexFuturesDealRptResponse" />
  </wsdl:message>
  <wsdl:portType name="IDoOrder">
    <wsdl:operation name="DoStockOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoOrder/DoStockOrder" message="tns:IDoOrder_DoStockOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoOrder/DoStockOrderResponse" message="tns:IDoOrder_DoStockOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoMercantileFuturesOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoOrder/DoMercantileFuturesOrder" message="tns:IDoOrder_DoMercantileFuturesOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoOrder/DoMercantileFuturesOrderResponse" message="tns:IDoOrder_DoMercantileFuturesOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoStockIndexFuturesOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoOrder/DoStockIndexFuturesOrder" message="tns:IDoOrder_DoStockIndexFuturesOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoOrder/DoStockIndexFuturesOrderResponse" message="tns:IDoOrder_DoStockIndexFuturesOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelStockOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoOrder/CancelStockOrder" message="tns:IDoOrder_CancelStockOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoOrder/CancelStockOrderResponse" message="tns:IDoOrder_CancelStockOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelMercantileFuturesOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoOrder/CancelMercantileFuturesOrder" message="tns:IDoOrder_CancelMercantileFuturesOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoOrder/CancelMercantileFuturesOrderResponse" message="tns:IDoOrder_CancelMercantileFuturesOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelStockIndexFuturesOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoOrder/CancelStockIndexFuturesOrder" message="tns:IDoOrder_CancelStockIndexFuturesOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoOrder/CancelStockIndexFuturesOrderResponse" message="tns:IDoOrder_CancelStockIndexFuturesOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IOrderDealRpt">
    <wsdl:operation name="RegisterChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/RegisterChannel" message="tns:IOrderDealRpt_RegisterChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/RegisterChannelResponse" message="tns:IOrderDealRpt_RegisterChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegisterChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/UnRegisterChannel" message="tns:IOrderDealRpt_UnRegisterChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/UnRegisterChannelResponse" message="tns:IOrderDealRpt_UnRegisterChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessStockDealRpt">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessStockDealRpt" message="tns:IOrderDealRpt_ProcessStockDealRpt_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessStockDealRptResponse" message="tns:IOrderDealRpt_ProcessStockDealRpt_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessMercantileDealRpt">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessMercantileDealRpt" message="tns:IOrderDealRpt_ProcessMercantileDealRpt_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessMercantileDealRptResponse" message="tns:IOrderDealRpt_ProcessMercantileDealRpt_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessStockIndexFuturesDealRpt">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessStockIndexFuturesDealRpt" message="tns:IOrderDealRpt_ProcessStockIndexFuturesDealRpt_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessStockIndexFuturesDealRptResponse" message="tns:IOrderDealRpt_ProcessStockIndexFuturesDealRpt_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDoOrder" type="tns:IDoOrder">
    <wsp:PolicyReference URI="#NetTcpBinding_IDoOrder_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DoStockOrder">
      <soap12:operation soapAction="http://tempuri.org/IDoOrder/DoStockOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoMercantileFuturesOrder">
      <soap12:operation soapAction="http://tempuri.org/IDoOrder/DoMercantileFuturesOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoStockIndexFuturesOrder">
      <soap12:operation soapAction="http://tempuri.org/IDoOrder/DoStockIndexFuturesOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelStockOrder">
      <soap12:operation soapAction="http://tempuri.org/IDoOrder/CancelStockOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelMercantileFuturesOrder">
      <soap12:operation soapAction="http://tempuri.org/IDoOrder/CancelMercantileFuturesOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelStockIndexFuturesOrder">
      <soap12:operation soapAction="http://tempuri.org/IDoOrder/CancelStockIndexFuturesOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IOrderDealRpt" type="tns:IOrderDealRpt">
    <wsp:PolicyReference URI="#NetTcpBinding_IOrderDealRpt_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterChannel">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/RegisterChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegisterChannel">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/UnRegisterChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessStockDealRpt">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/ProcessStockDealRpt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessMercantileDealRpt">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/ProcessMercantileDealRpt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessStockIndexFuturesDealRpt">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/ProcessStockIndexFuturesDealRpt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CounterOrderService">
    <wsdl:port name="NetTcpBinding_IDoOrder" binding="tns:NetTcpBinding_IDoOrder">
      <soap12:address location="net.tcp://localhost:8088/DoOrderService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8088/DoOrderService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IOrderDealRpt" binding="tns:NetTcpBinding_IOrderDealRpt">
      <soap12:address location="net.tcp://localhost:8088/DoOrderService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8088/DoOrderService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>