GTA.VTS.TestProject/ReckoningCounterTest/Service References/CounterOrderService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" />
  <xs:element name="DoStockOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="stockorder" nillable="true" type="q1:StockOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoStockOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="DoStockOrderResult" nillable="true" type="q2:OrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoMercantileFuturesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="futuresorder" nillable="true" type="q3:MercantileFuturesOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoMercantileFuturesOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="DoMercantileFuturesOrderResult" nillable="true" type="q4:OrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoStockIndexFuturesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="futuresorder" nillable="true" type="q5:StockIndexFuturesOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoStockIndexFuturesOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="DoStockIndexFuturesOrderResult" nillable="true" type="q6:OrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelStockOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelStockOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelStockOrderResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMercantileFuturesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMercantileFuturesOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelMercantileFuturesOrderResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelStockIndexFuturesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelStockIndexFuturesOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelStockIndexFuturesOrderResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnRegisterChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockDealRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="drsip" nillable="true" type="q7:StockDealOrderPushBack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockDealRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMercantileDealRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="drmip" nillable="true" type="q8:FutureDealOrderPushBack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMercantileDealRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockIndexFuturesDealRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="drsifi" nillable="true" type="q9:FutureDealOrderPushBack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockIndexFuturesDealRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>