GTA.VTS.TestProject/GTA.VTS.CustomersOrders/Service References/TransactionManageService/ManagementCenter.Model.UserManage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ManagementCenter.Model.UserManage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ManagementCenter.Model.UserManage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PersonalizationCapital">
    <xs:sequence>
      <xs:element minOccurs="0" name="HKAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonalType" type="xs:int" />
      <xs:element minOccurs="0" name="RMBAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="SetCurrencyType" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TradeID" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="USAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalizationCapital" nillable="true" type="tns:PersonalizationCapital" />
</xs:schema>