GTA.VTS.TestProject/GTA.VTS.CustomersOrders/Service References/TransactionManageService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ManagementCenter.Model.CommonClass" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ManagementCenter.Model.UserManage" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.AccountManagementAndFindEntity" />
  <xs:element name="BatchAddTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ManagementCenter.Model.CommonClass" minOccurs="0" name="initFund" nillable="true" type="q1:InitFund" />
        <xs:element minOccurs="0" name="MLoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ManagerPWd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchAddTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" minOccurs="0" name="BatchAddTransactionResult" nillable="true" type="q2:ArrayOfUM_UserInfo" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchAddTransactionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" minOccurs="0" name="tUserInfo" nillable="true" type="q3:ArrayOfUM_UserInfo" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ManagementCenter.Model.CommonClass" minOccurs="0" name="initFund" nillable="true" type="q4:InitFund" />
        <xs:element minOccurs="0" name="MLoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ManagerPWd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchAddTransactionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" minOccurs="0" name="BatchAddTransactionListResult" nillable="true" type="q5:ArrayOfUM_UserInfo" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MLoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ManagerPWd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTransactionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" minOccurs="0" name="userInfo" nillable="true" type="q6:UM_UserInfo" />
        <xs:element minOccurs="0" name="MLoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ManagerPWd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTransactionAllResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchDelectTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" minOccurs="0" name="userInfo" nillable="true" type="q7:ArrayOfUM_UserInfo" />
        <xs:element minOccurs="0" name="MLoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ManagerPWd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchDelectTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchDelectTransactionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionConfirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" minOccurs="0" name="TransactionConfirmResult" nillable="true" type="q8:CT_Counter" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFund">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ManagementCenter.Model.CommonClass" minOccurs="0" name="initFund" nillable="true" type="q9:InitFund" />
        <xs:element minOccurs="0" name="MLoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ManagerPWd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFundResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTrialData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ManagementCenter.Model.UserManage" minOccurs="0" name="cap" nillable="true" type="q10:PersonalizationCapital" />
        <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTrialDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClearTrialDataResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalizationCapital">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ManagementCenter.Model.UserManage" minOccurs="0" name="cap" nillable="true" type="q11:PersonalizationCapital" />
        <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalizationCapitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonalizationCapitalResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransactionFP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MLoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ManagerPWd" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" minOccurs="0" name="UserInfo" nillable="true" type="q12:UM_UserInfo" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ManagementCenter.Model.CommonClass" minOccurs="0" name="initfund" nillable="true" type="q13:InitFund" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransactionFPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" minOccurs="0" name="AddTransactionFPResult" nillable="true" type="q14:UM_UserInfo" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.AccountManagementAndFindEntity" minOccurs="0" name="l_AccountEntity" nillable="true" type="q15:ArrayOfAccountEntity" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminFindTraderCapitalAccountInfoByIDFP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="traderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminFindTraderCapitalAccountInfoByIDFPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.AccountManagementAndFindEntity" minOccurs="0" name="AdminFindTraderCapitalAccountInfoByIDFPResult" nillable="true" type="q16:ArrayOfTradersAccountCapitalInfo" />
        <xs:element minOccurs="0" name="strErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertFreeTransferEntityFP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="traderID" type="xs:int" />
        <xs:element minOccurs="0" name="FromCapitalAccountType" type="xs:int" />
        <xs:element minOccurs="0" name="ToCapitalAccountType" type="xs:int" />
        <xs:element minOccurs="0" name="TransferAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="currencyType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertFreeTransferEntityFPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertFreeTransferEntityFPResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="outMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFundFP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" minOccurs="0" name="model" nillable="true" type="q17:UM_FundAddInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFundFPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFundFPResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="mess" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckChannel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckChannelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>