GTA.VTS.ReckoningCounter/ReckoningCounter.DAL/Service References/MatchCenterOrderDealRpt/MatchCenter.Entity1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StockDealBackEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="DealAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DealPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="DealTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockDealBackEntity" nillable="true" type="tns:StockDealBackEntity" />
  <xs:complexType name="CommoditiesDealBackEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="DealAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DealPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="DealTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommoditiesDealBackEntity" nillable="true" type="tns:CommoditiesDealBackEntity" />
  <xs:complexType name="FutureDealBackEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="DealAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DealPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="DealTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FutureDealBackEntity" nillable="true" type="tns:FutureDealBackEntity" />
  <xs:complexType name="ResultDataEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDataEntity" nillable="true" type="tns:ResultDataEntity" />
  <xs:complexType name="CancelOrderEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderVolume" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelOrderEntity" nillable="true" type="tns:CancelOrderEntity" />
  <xs:complexType name="HKModifyBackEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanleOrderEntity" nillable="true" type="tns:CancelOrderEntity" />
      <xs:element minOccurs="0" name="ChannelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyCount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ModifyVolume" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HKModifyBackEntity" nillable="true" type="tns:HKModifyBackEntity" />
</xs:schema>