GTA.VTS.ReckoningCounter/ReckoningCounter.DAL/Service References/MatchCenterOrderDealRpt/MatchCenter.Entity.HK2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MatchCenter.Entity.HK" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MatchCenter.Entity.HK" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HKDealBackEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DealMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="DealTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DealType" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HKDealBackEntity" nillable="true" type="tns:HKDealBackEntity" />
</xs:schema>