GTA.VTS.ReckoningCounter/ReckoningCounter.DAL/Service References/MatchCenterOrderDealRpt/MatchCenter.Entity.HK.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MatchCenter.Entity.HK" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MatchCenter.Entity.HK" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HKDealBackEntity">
    <xs:sequence>
      <xs:element name="_channelid" nillable="true" type="xs:string" />
      <xs:element name="_dealamount" type="xs:decimal" />
      <xs:element name="_dealmessage" nillable="true" type="xs:string" />
      <xs:element name="_dealorderno" nillable="true" type="xs:string" />
      <xs:element name="_dealprice" type="xs:decimal" />
      <xs:element name="_dealtime" type="xs:dateTime" />
      <xs:element name="_dealtype" type="xs:boolean" />
      <xs:element name="_orderno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HKDealBackEntity" nillable="true" type="tns:HKDealBackEntity" />
</xs:schema>