GTA.VTS.ReckoningCounter/ReckoningCounter.DAL/Service References/MatchCenterOrderDealRpt/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MatchCenter.Entity.HK" />
  <xs:element name="RegisterChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterChannelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterChannelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckChannel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckChannelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockDealRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" minOccurs="0" name="model" nillable="true" type="q1:StockDealBackEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockDealRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMercantileDealRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" minOccurs="0" name="model" nillable="true" type="q2:CommoditiesDealBackEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMercantileDealRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockIndexFuturesDealRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" minOccurs="0" name="model" nillable="true" type="q3:FutureDealBackEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockIndexFuturesDealRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHKStockDealRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MatchCenter.Entity.HK" minOccurs="0" name="model" nillable="true" type="q4:HKDealBackEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHKStockDealRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockOrderRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" minOccurs="0" name="model" nillable="true" type="q5:ResultDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockOrderRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMercantileOrderRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" minOccurs="0" name="model" nillable="true" type="q6:ResultDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMercantileOrderRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockIndexFuturesOrderRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" minOccurs="0" name="model" nillable="true" type="q7:ResultDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockIndexFuturesOrderRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHKStockOrderRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" minOccurs="0" name="model" nillable="true" type="q8:ResultDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHKStockOrderRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelStockOrderRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" minOccurs="0" name="model" nillable="true" type="q9:CancelOrderEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelStockOrderRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMercantileOrderRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" minOccurs="0" name="model" nillable="true" type="q10:CancelOrderEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMercantileOrderRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelStockIndexFuturesOrderRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" minOccurs="0" name="model" nillable="true" type="q11:CancelOrderEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelStockIndexFuturesOrderRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelHKStockOrderRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MatchCenter.Entity" minOccurs="0" name="model" nillable="true" type="q12:CancelOrderEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelHKStockOrderRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>