GTA.VTS.MatchCenter/MatchCenter.DAL/Service References/TransactionManage/ManagementCenter.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUM_UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UM_UserInfo" nillable="true" type="tns:UM_UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUM_UserInfo" nillable="true" type="tns:ArrayOfUM_UserInfo" />
  <xs:complexType name="UM_UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddType" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificateNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificateStyle" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CouterID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postalcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UM_UserInfo" nillable="true" type="tns:UM_UserInfo" />
  <xs:complexType name="CT_Counter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountServicePort" type="xs:int" />
      <xs:element minOccurs="0" name="CouterID" type="xs:int" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxValues" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="QueryServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryServicePort" type="xs:int" />
      <xs:element minOccurs="0" name="SendPort" type="xs:int" />
      <xs:element minOccurs="0" name="SendServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="XiaDanServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XiaDanServicePort" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CT_Counter" nillable="true" type="tns:CT_Counter" />
</xs:schema>