GTA.VTS.TestProject/ReckoningCounterTest/Service References/ServiceReference1/ReckoningCounter.Entity.AccountManagementAndFindEntity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.AccountManagementAndFindEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.AccountManagementAndFindEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" />
  <xs:complexType name="SpotCapitalEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="GTCapitalObj" nillable="true" type="q1:XhCapitalAccountTable" />
      <xs:element minOccurs="0" name="MarketValue" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpotCapitalEntity" nillable="true" type="tns:SpotCapitalEntity" />
</xs:schema>