GTA.VTS.TestProject/ReckoningCounter.PushBackTest/Service References/HKTraderQuerySevice/ReckoningCounter.Entity.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PagingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="IsCount" type="xs:boolean" />
      <xs:element minOccurs="0" name="PageLength" type="xs:int" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagingInfo" nillable="true" type="tns:PagingInfo" />
</xs:schema>