GTA.VTS.TestProject/ReckoningCounter.PushBackTest/Service References/HKTraderFindService/ReckoningCounter.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReckoningCounter.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUA_CapitalFlowTableInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UA_CapitalFlowTableInfo" nillable="true" type="tns:UA_CapitalFlowTableInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUA_CapitalFlowTableInfo" nillable="true" type="tns:ArrayOfUA_CapitalFlowTableInfo" />
  <xs:complexType name="UA_CapitalFlowTableInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapitalFlowLogo" type="xs:int" />
      <xs:element minOccurs="0" name="FromCapitalAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToCapitalAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeCurrencyType" type="xs:int" />
      <xs:element minOccurs="0" name="TransferAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransferTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransferTypeLogo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UA_CapitalFlowTableInfo" nillable="true" type="tns:UA_CapitalFlowTableInfo" />
</xs:schema>