GTA.VTS.TestProject/ReckoningCounter.PushBackTest/Service References/DoDealRptService/ReckoningCounter.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReckoningCounter.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StockPushOrderEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuySellTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="CancelAmount" type="xs:int" />
      <xs:element minOccurs="0" name="CancelLogo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CapitalAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="EntrustAmount" type="xs:int" />
      <xs:element minOccurs="0" name="EntrustNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntrustPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="HasDoneProfit" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="SpotCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeAmount" type="xs:int" />
      <xs:element minOccurs="0" name="TradeAveragePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="offerTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockPushOrderEntity" nillable="true" type="tns:StockPushOrderEntity" />
</xs:schema>