GTA.VTS.TestProject/ReckoningCounter.PushBackTest/Service References/DoDealRptService/ReckoningCounter.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.XH" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Model" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.QH" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.HK" />
  <xs:complexType name="StockDealOrderPushBack">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.XH" minOccurs="0" name="StockDealList" nillable="true" type="q1:ArrayOfStockPushDealEntity" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReckoningCounter.Model" minOccurs="0" name="StockOrderEntity" nillable="true" type="q2:StockPushOrderEntity" />
      <xs:element minOccurs="0" name="TradeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockDealOrderPushBack" nillable="true" type="tns:StockDealOrderPushBack" />
  <xs:complexType name="FutureDealOrderPushBack">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.QH" minOccurs="0" name="FutureDealList" nillable="true" type="q3:ArrayOfFuturePushDealEntity" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.QH" minOccurs="0" name="StockIndexFuturesOrde" nillable="true" type="q4:FuturePushOrderEntity" />
      <xs:element minOccurs="0" name="TradeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FutureDealOrderPushBack" nillable="true" type="tns:FutureDealOrderPushBack" />
  <xs:complexType name="HKDealOrderPushBack">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.HK" minOccurs="0" name="HKDealList" nillable="true" type="q5:ArrayOfHKPushDealEntity" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.HK" minOccurs="0" name="HKOrderEntity" nillable="true" type="q6:HKPushOrderEntity" />
      <xs:element minOccurs="0" name="TradeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HKDealOrderPushBack" nillable="true" type="tns:HKDealOrderPushBack" />
  <xs:complexType name="HKModifyOrderPushBack">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallbackChannlId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewRequestNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalRequestNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HKModifyOrderPushBack" nillable="true" type="tns:HKModifyOrderPushBack" />
</xs:schema>