GTA.VTS.TestProject/ReckoningCounter.PushBackTest/Service References/DoDealRptService/ReckoningCounter.Entity.Model.HK.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.HK" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.HK" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHKPushDealEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HKPushDealEntity" nillable="true" type="tns:HKPushDealEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHKPushDealEntity" nillable="true" type="tns:ArrayOfHKPushDealEntity" />
  <xs:complexType name="HKPushDealEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearingFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Commission" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonitoringFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="StampTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="TradeAmount" type="xs:int" />
      <xs:element minOccurs="0" name="TradeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="TradeProceduresFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="TradeTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TradeTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="TradingSystemUseFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransferAccountFee" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HKPushDealEntity" nillable="true" type="tns:HKPushDealEntity" />
  <xs:complexType name="HKPushOrderEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuySellTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="CancelAmount" type="xs:int" />
      <xs:element minOccurs="0" name="CancelLogo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CapitalAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="EntrustAmount" type="xs:int" />
      <xs:element minOccurs="0" name="EntrustNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntrustPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="HasDoneProfit" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsModifyOrder" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifyOrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="TradeAmount" type="xs:int" />
      <xs:element minOccurs="0" name="TradeAveragePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="offerTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HKPushOrderEntity" nillable="true" type="tns:HKPushOrderEntity" />
</xs:schema>