GTA.VTS.TestProject/ReckoningCounter.PushBackTest/Service References/DoDealRptService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CounterOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IOrderDealRpt_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.XH" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Model" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.QH" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Model.HK" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderDealRpt_RegisterChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterChannel" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_RegisterChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ChangeEntrustChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEntrustChannel" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ChangeEntrustChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEntrustChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_UnRegisterChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterChannel" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_UnRegisterChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_CheckChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckChannel" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_CheckChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessStockDealRpt_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessStockDealRpt" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessStockDealRpt_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessStockDealRptResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessMercantileDealRpt_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessMercantileDealRpt" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessMercantileDealRpt_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessMercantileDealRptResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessStockIndexFuturesDealRpt_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessStockIndexFuturesDealRpt" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessStockIndexFuturesDealRpt_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessStockIndexFuturesDealRptResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessHKDealRpt_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessHKDealRpt" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessHKDealRpt_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessHKDealRptResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessHKModifyOrderRpt_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessHKModifyOrderRpt" />
  </wsdl:message>
  <wsdl:message name="IOrderDealRpt_ProcessHKModifyOrderRpt_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessHKModifyOrderRptResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderDealRpt">
    <wsdl:operation name="RegisterChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/RegisterChannel" message="tns:IOrderDealRpt_RegisterChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/RegisterChannelResponse" message="tns:IOrderDealRpt_RegisterChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeEntrustChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/ChangeEntrustChannel" message="tns:IOrderDealRpt_ChangeEntrustChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/ChangeEntrustChannelResponse" message="tns:IOrderDealRpt_ChangeEntrustChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegisterChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/UnRegisterChannel" message="tns:IOrderDealRpt_UnRegisterChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/UnRegisterChannelResponse" message="tns:IOrderDealRpt_UnRegisterChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/CheckChannel" message="tns:IOrderDealRpt_CheckChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/CheckChannelResponse" message="tns:IOrderDealRpt_CheckChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessStockDealRpt">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessStockDealRpt" message="tns:IOrderDealRpt_ProcessStockDealRpt_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessStockDealRptResponse" message="tns:IOrderDealRpt_ProcessStockDealRpt_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessMercantileDealRpt">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessMercantileDealRpt" message="tns:IOrderDealRpt_ProcessMercantileDealRpt_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessMercantileDealRptResponse" message="tns:IOrderDealRpt_ProcessMercantileDealRpt_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessStockIndexFuturesDealRpt">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessStockIndexFuturesDealRpt" message="tns:IOrderDealRpt_ProcessStockIndexFuturesDealRpt_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessStockIndexFuturesDealRptResponse" message="tns:IOrderDealRpt_ProcessStockIndexFuturesDealRpt_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessHKDealRpt">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessHKDealRpt" message="tns:IOrderDealRpt_ProcessHKDealRpt_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessHKDealRptResponse" message="tns:IOrderDealRpt_ProcessHKDealRpt_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessHKModifyOrderRpt">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessHKModifyOrderRpt" message="tns:IOrderDealRpt_ProcessHKModifyOrderRpt_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDealRpt/ProcessHKModifyOrderRptResponse" message="tns:IOrderDealRpt_ProcessHKModifyOrderRpt_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IOrderDealRpt" type="tns:IOrderDealRpt">
    <wsp:PolicyReference URI="#NetTcpBinding_IOrderDealRpt_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterChannel">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/RegisterChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeEntrustChannel">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/ChangeEntrustChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegisterChannel">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/UnRegisterChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckChannel">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/CheckChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessStockDealRpt">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/ProcessStockDealRpt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessMercantileDealRpt">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/ProcessMercantileDealRpt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessStockIndexFuturesDealRpt">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/ProcessStockIndexFuturesDealRpt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessHKDealRpt">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/ProcessHKDealRpt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessHKModifyOrderRpt">
      <soap12:operation soapAction="http://tempuri.org/IOrderDealRpt/ProcessHKModifyOrderRpt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CounterOrderService">
    <wsdl:port name="NetTcpBinding_IOrderDealRpt" binding="tns:NetTcpBinding_IOrderDealRpt">
      <soap12:address location="net.tcp://localhost:9182/DoDealRptService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9182/DoDealRptService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>