GTA.VTS.TestProject/ReckoningCounter.PushBackTest/Service References/DoDealRptService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" />
  <xs:element name="RegisterChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEntrustChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entrustNumberList" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="newClientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numberType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEntrustChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeEntrustChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnRegisterChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckChannel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckChannelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockDealRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="drsip" nillable="true" type="q2:StockDealOrderPushBack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockDealRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMercantileDealRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="drmip" nillable="true" type="q3:FutureDealOrderPushBack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMercantileDealRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockIndexFuturesDealRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="drsifi" nillable="true" type="q4:FutureDealOrderPushBack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessStockIndexFuturesDealRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHKDealRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="drsip" nillable="true" type="q5:HKDealOrderPushBack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHKDealRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHKModifyOrderRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" minOccurs="0" name="mopb" nillable="true" type="q6:HKModifyOrderPushBack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHKModifyOrderRptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>