GTA.VTS.ManagementCenter/ManagementCenter.DAL/Service References/DoOrderService/ReckoningCounter.Entity1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GTA.VTS.Common.CommonObject" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Contants" />
  <xs:complexType name="StockOrderRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GTA.VTS.Common.CommonObject" minOccurs="0" name="BuySell" type="q1:Types.TransactionDirection" />
      <xs:element minOccurs="0" name="ChannelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderAmount" type="xs:float" />
      <xs:element minOccurs="0" name="OrderPrice" type="xs:float" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GTA.VTS.Common.CommonObject" minOccurs="0" name="OrderUnitType" type="q2:Types.UnitType" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Contants" minOccurs="0" name="OrderWay" type="q3:Types.OrderPriceType" />
      <xs:element minOccurs="0" name="PortfoliosId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraderPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockOrderRequest" nillable="true" type="tns:StockOrderRequest" />
  <xs:complexType name="OrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorType" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderDatetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderResponse" nillable="true" type="tns:OrderResponse" />
  <xs:complexType name="StockIndexFuturesOrderRequest">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GTA.VTS.Common.CommonObject" minOccurs="0" name="BuySell" type="q4:Types.TransactionDirection" />
      <xs:element minOccurs="0" name="ChannelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundAccountId" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Contants" minOccurs="0" name="OpenCloseType" type="q5:Types.FutureOpenCloseType" />
      <xs:element minOccurs="0" name="OrderAmount" type="xs:float" />
      <xs:element minOccurs="0" name="OrderPrice" type="xs:float" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GTA.VTS.Common.CommonObject" minOccurs="0" name="OrderUnitType" type="q6:Types.UnitType" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Contants" minOccurs="0" name="OrderWay" type="q7:Types.OrderPriceType" />
      <xs:element minOccurs="0" name="PortfoliosId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraderPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockIndexFuturesOrderRequest" nillable="true" type="tns:StockIndexFuturesOrderRequest" />
  <xs:complexType name="MercantileFuturesOrderRequest">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GTA.VTS.Common.CommonObject" minOccurs="0" name="BuySell" type="q8:Types.TransactionDirection" />
      <xs:element minOccurs="0" name="ChannelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundAccountId" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Contants" minOccurs="0" name="OpenOffsetFlag" type="q9:Types.FutureOpenCloseType" />
      <xs:element minOccurs="0" name="OrderAmount" type="xs:float" />
      <xs:element minOccurs="0" name="OrderPrice" type="xs:float" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GTA.VTS.Common.CommonObject" minOccurs="0" name="OrderUnitType" type="q10:Types.UnitType" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity.Contants" minOccurs="0" name="OrderWay" type="q11:Types.OrderPriceType" />
      <xs:element minOccurs="0" name="PortfoliosId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraderPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MercantileFuturesOrderRequest" nillable="true" type="tns:MercantileFuturesOrderRequest" />
  <xs:complexType name="HKOrderRequest">
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GTA.VTS.Common.CommonObject" minOccurs="0" name="BuySell" type="q12:Types.TransactionDirection" />
      <xs:element minOccurs="0" name="ChannelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderAmount" type="xs:float" />
      <xs:element minOccurs="0" name="OrderPrice" type="xs:float" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GTA.VTS.Common.CommonObject" minOccurs="0" name="OrderUnitType" type="q13:Types.UnitType" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GTA.VTS.Common.CommonObject" minOccurs="0" name="OrderWay" type="q14:Types.HKPriceType" />
      <xs:element minOccurs="0" name="PortfoliosId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraderPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HKOrderRequest" nillable="true" type="tns:HKOrderRequest" />
  <xs:complexType name="HKModifyOrderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntrustNubmer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyOrderDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderAmount" type="xs:float" />
      <xs:element minOccurs="0" name="OrderPrice" type="xs:float" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GTA.VTS.Common.CommonObject" minOccurs="0" name="OrderUnitType" type="q15:Types.UnitType" />
      <xs:element minOccurs="0" name="TraderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraderPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HKModifyOrderRequest" nillable="true" type="tns:HKModifyOrderRequest" />
</xs:schema>