GTA.VTS.TestProject/ReckoningCapabilityTest/Service References/TraderFindService/ReckoningCounter.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReckoningCounter.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SpotEntrustConditionFindEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="BelongToMarket" type="xs:int" />
      <xs:element minOccurs="0" name="BuySellDirection" type="xs:int" />
      <xs:element minOccurs="0" name="CanBeWithdrawnLogo" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyType" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntrustNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntrustState" type="xs:int" />
      <xs:element minOccurs="0" name="SpotCapitalAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpotCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VarietyType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpotEntrustConditionFindEntity" nillable="true" type="tns:SpotEntrustConditionFindEntity" />
  <xs:complexType name="SpotTradeConditionFindEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="BelongToMarket" type="xs:int" />
      <xs:element minOccurs="0" name="BuySellDirection" type="xs:int" />
      <xs:element minOccurs="0" name="CanBeWithdrawnLogo" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyType" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntrustNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntrustState" type="xs:int" />
      <xs:element minOccurs="0" name="SpotCapitalAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpotCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TradeType" type="xs:int" />
      <xs:element minOccurs="0" name="VarietyType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpotTradeConditionFindEntity" nillable="true" type="tns:SpotTradeConditionFindEntity" />
  <xs:complexType name="FuturesTradeConditionFindEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="BelongToMarket" type="xs:int" />
      <xs:element minOccurs="0" name="BuySellDirection" type="xs:int" />
      <xs:element minOccurs="0" name="CapitalAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntrustNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenCloseDirection" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TradeType" type="xs:int" />
      <xs:element minOccurs="0" name="VarietyType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuturesTradeConditionFindEntity" nillable="true" type="tns:FuturesTradeConditionFindEntity" />
</xs:schema>