GTA.VTS.TestProject/ReckoningCapabilityTest/Service References/DoAccountAndCapitalManagementService/ManagementCenter.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ManagementCenter.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCM_BreedClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CM_BreedClass" nillable="true" type="tns:CM_BreedClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCM_BreedClass" nillable="true" type="tns:ArrayOfCM_BreedClass" />
  <xs:complexType name="CM_BreedClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTypeIDFund" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTypeIDHold" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BourseTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BreedClassID" type="xs:int" />
      <xs:element minOccurs="0" name="BreedClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BreedClassTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeleteState" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ISHKBreedClassType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ISSysDefaultBreed" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CM_BreedClass" nillable="true" type="tns:CM_BreedClass" />
</xs:schema>